---
http_interactions:
- request:
    method: post
    uri: https://fcm.googleapis.com/fcm/send
    body:
      encoding: UTF-8
      string: '{"to":"/topics/user-100","content_available":true,"priority":"high","notification":{"badge":1,"body":"test
        message","sound":"default","data":{"event":"test_event","foo":"bar"}}}'
    headers:
      Authorization:
      - key=invalid_key
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        <HTML>
        <HEAD>
        <TITLE>Unauthorized</TITLE>
        </HEAD>
        <BODY BGCOLOR="#FFFFFF" TEXT="#000000">
        <H1>Unauthorized</H1>
        <H2>Error 401</H2>
        </BODY>
        </HTML>
  recorded_at: Sun, 05 Jun 2016 13:28:29 GMT
- request:
    method: post
    uri: https://fcm.googleapis.com/fcm/send
    body:
      encoding: UTF-8
      string: '{"to":"/topics/user-100","content_available":true,"priority":"high","notification":{"badge":1,"body":"test
        message","sound":"default","data":{"event":"test_event","foo":"bar"}}}'
    headers:
      Authorization:
      - key=AIzaSyBGcK8_B6vsx3m8QhSvQW2goFkAwL1nFGw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: '{"message_id":6462983640665600510}'
  recorded_at: Sun, 05 Jun 2016 13:28:30 GMT
[...]
- request:
    method: post
    uri: https://fcm.googleapis.com/fcm/send
    body:
      encoding: UTF-8
      string: '{"to":"/topics/channel-100","content_available":true,"priority":"high","notification":{"badge":1,"body":"test
        message","sound":"default","data":{"event":"test_event","foo":"bar"}}}'
    headers:
      Authorization:
      - key=AIzaSyBGcK8_B6vsx3m8QhSvQW2goFkAwL1nFGw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: '{"message_id":7888425578977923418}'
  recorded_at: Sun, 05 Jun 2016 13:28:32 GMT
recorded_with: VCR 3.0.3
